* {
  margin: 0;
  padding: 0;
  font-family: century gothic;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #efefef;
}

.box {
  width: 600px;
  padding: 40px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
}

.box input[type="text"],
.box input[type="passwpord"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #9b100b;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: white;
  border-radius: 5px;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 50px;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #3498db;
}
